.about-section .card {
  /* background: linear-gradient(to bottom, rgba(255, 248, 220, 0.7), rgba(255, 248, 220, 0.9)), url('assets/PR2.png'); */
  background-size: cover;
  transition: transform 0.3s ease-in-out;
}

.about-section {
  padding: 50px;
}

.card-body {
  background-color: #FFF8DC;
}

.card-title {
  text-align: center;
}

.about-section .card:hover {
  transform: scale(1.05);
}

.cards-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically (uncomment if needed) */
  flex-wrap: wrap; /* Ensures that cards can wrap onto the next line */
  gap: 20px; /* Optional: adds space between the cards */
  height: 100%; /* Full height of the container (uncomment if vertical centering is needed) */
}

.cards-container .card {
  flex: 0 1 50%; /* flex-grow, flex-shrink, and flex-basis */
  /* This ensures that the card takes up 50% of the container width */
}

@media (max-width: 768px) {
  .cards-container .card {
    flex-basis: 100%; /* Each card takes full width on smaller screens */
  }
}

