<div class="product-container" style="padding: 50px;">
  <div class="row">
    <div class="col-md-4">
      <div class="product-image">
        <img src="assets/PT.png" alt="Tobacco Jute Bags" style="width: 70%;">
      </div>
    </div>
    <div class="col-md-8">
      <div class="product-details">
        <h1 style="margin-top:15px;">Tobacco Carriers</h1>
        <div class="details">
          <table style="width: 60%;">
            <tr><td>Storage Capacity</td><td>50 Kg</td></tr>
            <tr><td>Material</td><td>Jute</td></tr>
            <tr><td>Color</td><td>Brown</td></tr>
            <tr><td>Type</td><td>Sack</td></tr>
            <tr><td>Usage/Application</td><td>Packaging</td></tr>
            <tr><td>Manufacturing Type</td><td>Handmade/weaving</td></tr> 
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" style="margin: 0px;">
    <div class="col-md-4">
      <div class="product-image">
        <img src="assets/PM.png" alt="Mirchi Packaging Jute Bags" style="width: 70%;">
      </div>
    </div>
    <div class="col-md-8">
      <div class="product-details">
        <h1 style="margin-top:15px;">Mirchi Packaging Jute Bags</h1>
        <div class="details">
          <table style="width: 60%;">
            <tr><td>Storage Capacity</td><td>50 Kg</td></tr>
            <tr><td>Material</td><td>Jute</td></tr>
            <tr><td>Color</td><td>Brown</td></tr>
            <tr><td>Type</td><td>Sack</td></tr>
            <tr><td>Usage/Application</td><td>Packaging</td></tr>
            <tr><td>Manufacturing Type</td><td>Handmade/weaving, Machine Made</td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row" style="margin: 0px;">
    <div class="col-md-4">
      <div class="product-image">
        <img src="assets/P3.png" alt="Chick Peas Bags" style="width: 70%;">
      </div>
    </div>
    <div class="col-md-8">
      <div class="product-details">
        <h1 style="margin-top:15px;">Chick Peas Bags</h1>
        <div class="details">
            <table style="width: 60%;">
                <tr><td>Storage Capacity</td><td>50 Kg</td></tr>
                <tr><td>Material</td><td>Jute</td></tr>
                <tr><td>Color</td><td>Brown</td></tr>
                <tr><td>Type</td><td>Sack</td></tr>
                <tr><td>Usage/Application</td><td>Packaging</td></tr>
                <tr><td>Manufacturing Type</td><td>Handmade/weaving</td></tr>
            </table>
        </div>
    </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="product-image">
        <img src="assets/P4.png" alt="Rice Bags" style="width: 70%;">
      </div>
    </div>
    <div class="col-md-8">
      <div class="product-details">
        <h1 style="margin-top:15px;">Rice Bags</h1>
        <div class="details">
            <table style="width: 60%;">
                <tr><td>Storage Capacity</td><td>50 Kg</td></tr>
                <tr><td>Material</td><td>Jute</td></tr>
                <tr><td>Color</td><td>Brown</td></tr>
                <tr><td>Type</td><td>Sack</td></tr>
                <tr><td>Usage/Application</td><td>Packaging</td></tr>
                <tr><td>Manufacturing Type</td><td>Handmade/weaving</td></tr>
            </table>
        </div>
      </div>
    </div>
  </div>
  
</div>
