<br>
<div class="row">
    <div class="col-md-6">
        <div class="container" style="display: flex;align-items: center;justify-content: center;">
            <div class="reach-us">
              <h2 style="text-align: center;">Reach Us</h2>
              <p><i class="fas fa-map-marker-alt"></i>   Maddinagar, Chirala Road,</p>
              <p><i class="fas fa-map-marker-alt" style="color: transparent;"></i> Chilakaluripet, Palnadu -Dist,</p>
              <p><i class="fas fa-map-marker-alt" style="color: transparent;"></i> Andhra Pradesh - 522616, India</p>
              <p><i class="fas fa-user"></i> Prop. Shaik Jan Sharief (Bujji)</p>
              <p><i class="fas fa-phone"></i> +91 - 8008100889</p>
              <div class="faq-section">
            </div>
            <a href="{{ whatsappUrl }}" target="_blank" class="btn btn-whatsapp"><i class="fab fa-whatsapp"></i> Contact Us on WhatsApp</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="container" style="display: flex;align-items: center;justify-content: center;">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3430.4972950198457!2d79.963842315128!3d16.096509288877462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35fbf2c3a07b73%3A0x1234567890abcd!2sChilakaluripet%2C%20Andhra%20Pradesh%2C%20India!5e0!3m2!1sen!2sus!4v1609452954000!5m2!1sen!2sus"
                width="70%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>


  