<div class="main">
  <div class="header">
      <div class="logo">
          <img src="assets/logo.png" alt="Bujji Gunny Merchant Logo" style="width: 21%;">
      </div>
      <div class="content">
        <h1 class="display-4 font-italic mt-4" style="display: flex;justify-content: center; font-family: emoji;">Bujji Gunny Merchant</h1>
        <p class="lead my-3" style="display: flex;justify-content: center; font-family: auto;">Maddinagar, Chirala Road, Chilakaluripet</p>
      </div>
      <div class="contact">
        <p class="lead my-3" style="margin-left: auto;">
          <i class="fas fa-phone"></i> +91 - 8008100889
        </p>
      </div>
  </div>
  <hr style="margin: 0;">
  <!-- Navigation bar --> 
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">About Us</a>
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Our Products</a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
      </div>
    </div>
  </nav>
</div>




<!-- <mat-divider></mat-divider> -->


<router-outlet></router-outlet>



<!-- Footer -->
<footer class="text-muted py-3 bg-light">
  <div class="container d-flex justify-content-between">
    <p class="Rights">© 2024 Buiji Gunny Merchant - All Rights Reserved.</p>
    <p class="Eswar">Developed and maintained by <br>
      <a href="https://eswarreddy.in" target="_blank">
        <img src="assets/erlogo.png" alt="Eswar Reddy." class="eswarimg">
      </a>
    </p>
  </div>
</footer>



